@import "../../assets/scss/variables";

.ProductPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $space-3 $space-6;

  .ProductPageHeader {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: $space-6;

    h1 {
      margin-left: $space-3;
    }

    button {
      margin-left: $space-3;
    }
  }

  .ProductInfoAndPhoto {
    display: flex;

    .ProductPhoto {
      height: 12rem;
      max-width: 20rem;
      object-fit: contain;
    }

    .ProductInfo {
      margin-left: $space-6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-weight: 400;
        margin-bottom: $space-0;
      }

      .ProductPrice {
        display: flex;
        flex-direction: column;
        line-height: 1.2rem;

        span {
          color: $color-grey;
        }
      }

      .ProductTags {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .ProductDescription {
    margin-top: $space-5;

    h2 {
      margin-top: $space-4;
      margin-bottom: $space-2;
    }
  }
}
