@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.ProductPage {
  max-width: 1100px;
  width: 100%;

  .ProductPageHeaderContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: $space-6;

    @include lg {
      flex-direction: column;
    }

    @include md {
      margin-bottom: $space-0;
    }

    @include sm {
      align-items: center;
    }

    .ProductPageHeader {
      display: flex;
      width: fit-content;
      align-items: center;

      @include lg {
        margin-bottom: $space-2;
      }

      h1 {
        margin-left: $space-3;
        text-align: center;
      }

      button {
        margin-left: $space-3;
      }
    }
    .ConfirmationCard {
    }
  }

  .ProductInfoAndPhoto {
    display: flex;

    @include md {
      flex-direction: column;
    }

    .ProductPhoto {
      height: 12rem;
      max-width: 20rem;
      object-fit: contain;

      @include md {
        margin: $space-4 0;
      }

      @include sm {
        height: 8rem;
      }
    }

    .ProductInfo {
      margin-left: $space-6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include md {
        margin-left: 0;
      }

      @include xs {
        flex-direction: column;
        align-items: center;
      }

      .ProductNameAndPrice {
        line-height: 1.8rem;

        .ProductPrice {
          display: flex;
          flex-direction: column;
          line-height: 1.2rem;

          span {
            color: $color-dark-gray;
          }
        }

        h2 {
          font-weight: 400;
          margin-bottom: $space-0;
        }

        @include xs {
          margin-right: 0;
          margin-bottom: $space-2;
        }
      }

      .ProductTags {
        display: flex;
        flex-direction: row;
        margin-top: $space-2;

        div {
          margin-right: $space-1;
        }

        @include lg {
          flex-direction: column;

          div {
            margin-bottom: $space-1;
            margin-right: 0;
          }
        }
      }
    }
  }

  .ProductDescription {
    margin-top: $space-5;
    line-height: 1.8rem;

    h2 {
      margin-top: $space-4;
      margin-bottom: $space-2;
    }

    @include md {
      margin-top: $space-5;

      h2 {
        margin-top: 0;
        text-align: center;
      }
    }

    @include sm {
      margin-top: $space-4;
    }
  }
}
