@import "../../../assets//scss/variables";
@import "../../../assets/scss/animations";

.Loader {
  display: flex;
  align-items: center;

  img {
    height: 1rem;
    margin: $space-0;
  }

  .loadingDotOne {
    animation: opacityOnAndOff 4s ease-in-out infinite;
  }

  .loadingDotTwo {
    animation: opacityOnAndOff 4s ease-in-out infinite;
    animation-delay: 0.4s;
  }

  .loadingDotThree {
    animation: opacityOnAndOff 4s ease-in-out infinite;
    animation-delay: 0.8s;
  }
}

.LoaderSmall {
  @extend .Loader;

  img {
    height: 0.5rem;
    margin: 0.3rem;
  }
}
