@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.Layout {
  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $space-5 $space-6;
  align-items: center;

  @include lg {
    padding: $space-5 $space-5;
    align-items: center;
  }

  @include md {
    padding: $space-5 $space-4;
    justify-content: center;
  }

  @include sm {
    padding: $space-5 $space-3;
  }

  @include xs {
    padding: $space-4 $space-2;
  }
}
.GrayLayout {
  @extend .Layout;

  background-color: $color-light-gray;
}
