@import "../../../assets/scss/variables";

.InputFieldContainer {
  .InputField {
    margin: $space-1;
    padding: $space-0;
    font-size: $font-sm;
    border: 1px solid $color-grey;
    outline: none;
  }
}
