@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.DropzoneContainer {
  border: 1px solid $color-gray;
  width: 25rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  flex-direction: column;

  button {
    border: 1px solid $color-gray;
  }

  @include sm {
    width: 20rem;
  }

  @include xs {
    width: 15rem;
    height: 10rem;
  }
}
