@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.GeneralInfoSection {
  margin: 0 $space-3;
  display: flex;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    margin-top: $space-5;
    margin-left: 0;
    margin-right: 0;
  }

  @include sm {
    flex-direction: column;
    margin-top: $space-4;
  }

  .PricePerUnitInfo {
    display: flex;

    .PriceEurosAndCents {
      display: flex;

      @include xs {
        flex-direction: column;
      }
    }

    .unit {
      color: $color-dark-grey;
      margin-top: $space-2;
    }

    @include xs {
      flex-direction: row;
      align-items: center;

      .unit {
        margin-top: 0;
      }
    }
  }
}
