@import "../../../assets/scss/variables";

.ProductTag {
  display: flex;
  background-color: $color-light-grey;
  padding: 0.2rem $space-1;
  border-radius: 1.5rem;
  margin-right: $space-1;

  img {
    height: 2rem;
  }

  p {
    margin-left: $space-1;
  }
}
