@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.AvailableProductsListContainer {
  background-color: $color-light-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $space-3 $space-6;

  @include lg {
    padding: $space-3 $space-5;
    align-items: center;
  }

  @include md {
    padding: $space-3 $space-0;
  }

  .AvailableProductsListHeader {
    display: flex;
    margin: $space-4 0;

    h1 {
      text-align: center;
    }

    button {
      margin-left: $space-2;
    }

    @include sm {
      flex-direction: column-reverse;

      button {
        margin-left: 0;
        margin-bottom: $space-2;
      }
    }

    @include xs {
      button {
        margin-bottom: $space-0;
      }
    }
  }

  .AvailableProductsList {
    margin: $space-1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include lg {
      justify-content: center;
    }
  }
}
