@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.AvailableProductsListContainer {
  background-color: $color-light-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $space-5 $space-6;

  @include lg {
    padding: $space-5 $space-5;
    align-items: center;
  }

  @include md {
    padding: $space-5 $space-4;
  }

  @include sm {
    padding: $space-5 $space-3;
  }

  @include xs {
    padding: $space-4 $space-2;
  }

  .AvailableProductsListHeader {
    display: flex;
    margin: $space-4 0;
    align-items: center;

    h1 {
      text-align: center;
    }

    a {
      margin-left: $space-2;
    }

    @include sm {
      button {
        margin-bottom: $space-2;
      }
    }

    @include sm {
      flex-direction: column-reverse;

      a {
        margin-left: 0;
        align-self: center;
        margin-bottom: 0;
      }
    }
  }

  .AvailableProductsList {
    margin: $space-1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include lg {
      justify-content: center;
    }
  }
}
