@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.ProductForm {
  display: flex;
  flex-direction: column;
  width: 75rem;

  h2 {
    margin-bottom: $space-1;
  }

  @include xl {
    max-width: 55rem;
  }

  .ProductFormHeaderContainer {
    display: flex;
    margin-bottom: $space-5;
    align-items: center;

    @include lg {
      flex-direction: column;
    }

    .ProductFormHeader {
      display: flex;
      align-items: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        margin: 0 $space-0;

        @include sm {
          margin-top: $space-0;
        }
      }

      h1 {
        margin-right: $space-2;
        margin-left: $space-3;

        @include xs {
          margin-right: 0;
          margin-left: $space-2;
        }
      }

      @include lg {
        margin-bottom: $space-2;
      }

      @include sm {
        flex-direction: column;
      }
    }
  }

  .DropzoneGeneralInfoAndDescriptionContainer {
    display: flex;
    flex-direction: column;

    .DropzoneGeneralInfoAndDescription {
      .DropzoneAndGeneralInfo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include lg {
          flex-direction: column;
        }
      }
      @include lg {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    @include lg {
      align-items: center;
      justify-content: center;
    }
  }
}

.ProductFormAsBackground {
  @extend .ProductForm;
  opacity: 0.3;
}
